In [1]:
import pandas as pd 
import numpy as np
# Plotting libraries
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes = True)
%matplotlib inline

In [2]:
train_df = pd.read_csv("train.csv")

In [3]:
train_df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,NaN,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0

In [4]:
train_df.dtypes

ID                           int64
City_Code                   object
Region_Code                  int64
Accomodation_Type           object
Reco_Insurance_Type         object
Upper_Age                    int64
Lower_Age                    int64
Is_Spouse                   object
Health Indicator            object
Holding_Policy_Duration     object
Holding_Policy_Type        float64
Reco_Policy_Cat              int64
Reco_Policy_Premium        float64
Response                     int64
dtype: object

In [5]:
train_df.isnull().sum()

ID                             0
City_Code                      0
Region_Code                    0
Accomodation_Type              0
Reco_Insurance_Type            0
Upper_Age                      0
Lower_Age                      0
Is_Spouse                      0
Health Indicator           11691
Holding_Policy_Duration    20251
Holding_Policy_Type        20251
Reco_Policy_Cat                0
Reco_Policy_Premium            0
Response                       0
dtype: int64

In [6]:
train_df.shape

(50882, 14)

In [7]:
def impute_nan(train_df,variable,median):
    train_df[variable+"_median"]=train_df[variable].fillna(median)

In [8]:
median=train_df.Holding_Policy_Type.median()
median

3.0

In [9]:
impute_nan(train_df,'Holding_Policy_Type',median)
train_df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response,Holding_Policy_Type_median
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0,3.0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0,3.0
2,3,C5,3732,Owned,Individual,32,32,No,NaN,1.0,1.0,19,7450.0,1,1.0
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0,3.0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0,1.0

In [10]:
print(train_df['Holding_Policy_Type'].std())
print(train_df['Holding_Policy_Type_median'].std())

1.0259229515708859
0.8419942247897602

In [11]:
train_df=train_df.drop(['Holding_Policy_Type'],axis=1)

In [12]:
train_df.isnull().sum()

ID                                0
City_Code                         0
Region_Code                       0
Accomodation_Type                 0
Reco_Insurance_Type               0
Upper_Age                         0
Lower_Age                         0
Is_Spouse                         0
Health Indicator              11691
Holding_Policy_Duration       20251
Reco_Policy_Cat                   0
Reco_Policy_Premium               0
Response                          0
Holding_Policy_Type_median        0
dtype: int64

In [13]:
train_df['Holding_Policy_Duration'].unique

<bound method Series.unique of 0        14+
1        NaN
2        1.0
3        14+
4        3.0
        ...
50877    NaN
50878    7.0
50879    14+
50880    2.0
50881    2.0
Name: Holding_Policy_Duration, Length: 50882, dtype: object>

In [14]:
train_df['Holding_Policy_Duration']=train_df['Holding_Policy_Duration'].replace(['14+'],'14')

In [15]:
train_df['Holding_Policy_Duration'].unique

<bound method Series.unique of 0         14
1        NaN
2        1.0
3         14
4        3.0
        ...
50877    NaN
50878    7.0
50879     14
50880    2.0
50881    2.0
Name: Holding_Policy_Duration, Length: 50882, dtype: object>

In [16]:
median=train_df.Holding_Policy_Duration.median()
median

5.0

In [17]:
impute_nan(train_df,'Holding_Policy_Duration',median)
train_df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Reco_Policy_Cat,Reco_Policy_Premium,Response,Holding_Policy_Type_median,Holding_Policy_Duration_median
0,1,C3,3213,Rented,Individual,36,36,No,X1,14,22,11628.0,0,3.0,14
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,22,30510.0,0,3.0,5
2,3,C5,3732,Owned,Individual,32,32,No,NaN,1.0,19,7450.0,1,1.0,1.0
3,4,C24,4378,Owned,Joint,52,48,No,X1,14,19,17780.0,0,3.0,14
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,16,10404.0,0,1.0,3.0

In [18]:
train_df=train_df.drop(['Holding_Policy_Duration'],axis=1)
train_df['Holding_Policy_Duration_median']=train_df['Holding_Policy_Duration_median'].astype(float)

In [19]:
train_df.isnull().sum()

ID                                    0
City_Code                             0
Region_Code                           0
Accomodation_Type                     0
Reco_Insurance_Type                   0
Upper_Age                             0
Lower_Age                             0
Is_Spouse                             0
Health Indicator                  11691
Reco_Policy_Cat                       0
Reco_Policy_Premium                   0
Response                              0
Holding_Policy_Type_median            0
Holding_Policy_Duration_median        0
dtype: int64

In [20]:
train_df.shape

(50882, 14)

In [21]:
train_df["Health Indicator"].value_counts()

X1    13010
X2    10332
X3     6762
X4     5743
X5     1727
X6     1280
X7      196
X8       78
X9       63
Name: Health Indicator, dtype: int64

In [22]:
def impute_nan_object(train_df,variable):
    train_df[variable+" new var"]=np.where(train_df[variable].isnull(),"Missing",train_df[variable])

In [23]:
for feature in ['Health Indicator']:
    impute_nan_object(train_df,feature)

In [24]:
train_df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Reco_Policy_Cat,Reco_Policy_Premium,Response,Holding_Policy_Type_median,Holding_Policy_Duration_median,Health Indicator new var
0,1,C3,3213,Rented,Individual,36,36,No,X1,22,11628.0,0,3.0,14.0,X1
1,2,C5,1117,Owned,Joint,75,22,No,X2,22,30510.0,0,3.0,5.0,X2
2,3,C5,3732,Owned,Individual,32,32,No,NaN,19,7450.0,1,1.0,1.0,Missing
3,4,C24,4378,Owned,Joint,52,48,No,X1,19,17780.0,0,3.0,14.0,X1
4,5,C8,2190,Rented,Individual,44,44,No,X2,16,10404.0,0,1.0,3.0,X2

In [25]:
train_df=train_df.drop(['Health Indicator'],axis=1)
train_df=train_df.drop(['ID'],axis=1)

In [26]:
train_df.isnull().sum()

City_Code                         0
Region_Code                       0
Accomodation_Type                 0
Reco_Insurance_Type               0
Upper_Age                         0
Lower_Age                         0
Is_Spouse                         0
Reco_Policy_Cat                   0
Reco_Policy_Premium               0
Response                          0
Holding_Policy_Type_median        0
Holding_Policy_Duration_median    0
Health Indicator new var          0
dtype: int64

In [27]:
train_df.head()

,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Reco_Policy_Cat,Reco_Policy_Premium,Response,Holding_Policy_Type_median,Holding_Policy_Duration_median,Health Indicator new var
0,C3,3213,Rented,Individual,36,36,No,22,11628.0,0,3.0,14.0,X1
1,C5,1117,Owned,Joint,75,22,No,22,30510.0,0,3.0,5.0,X2
2,C5,3732,Owned,Individual,32,32,No,19,7450.0,1,1.0,1.0,Missing
3,C24,4378,Owned,Joint,52,48,No,19,17780.0,0,3.0,14.0,X1
4,C8,2190,Rented,Individual,44,44,No,16,10404.0,0,1.0,3.0,X2

In [28]:
train_df.dtypes

City_Code                          object
Region_Code                         int64
Accomodation_Type                  object
Reco_Insurance_Type                object
Upper_Age                           int64
Lower_Age                           int64
Is_Spouse                          object
Reco_Policy_Cat                     int64
Reco_Policy_Premium               float64
Response                            int64
Holding_Policy_Type_median        float64
Holding_Policy_Duration_median    float64
Health Indicator new var           object
dtype: object

In [29]:
Accomodation=pd.get_dummies(train_df['Accomodation_Type'],drop_first=True)
Reco_Insurance=pd.get_dummies(train_df['Reco_Insurance_Type'],drop_first=True)
Spouse=pd.get_dummies(train_df['Is_Spouse'],drop_first=True)
Health_Indicator=pd.get_dummies(train_df['Health Indicator new var'],drop_first=True)

In [30]:
train_df = pd.concat([train_df,Accomodation,Reco_Insurance,Spouse,Health_Indicator],axis=1)

In [31]:
train_df.drop(['Accomodation_Type','Reco_Insurance_Type','Is_Spouse','Health Indicator new var'],axis=1,inplace=True)
train_df.head()

,City_Code,Region_Code,Upper_Age,Lower_Age,Reco_Policy_Cat,Reco_Policy_Premium,Response,Holding_Policy_Type_median,Holding_Policy_Duration_median,Rented,...,Yes,X1,X2,X3,X4,X5,X6,X7,X8,X9
0,C3,3213,36,36,22,11628.0,0,3.0,14.0,1,...,0,1,0,0,0,0,0,0,0,0
1,C5,1117,75,22,22,30510.0,0,3.0,5.0,0,...,0,0,1,0,0,0,0,0,0,0
2,C5,3732,32,32,19,7450.0,1,1.0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
3,C24,4378,52,48,19,17780.0,0,3.0,14.0,0,...,0,1,0,0,0,0,0,0,0,0
4,C8,2190,44,44,16,10404.0,0,1.0,3.0,1,...,0,0,1,0,0,0,0,0,0,0

In [32]:
train_df["City_Code"].value_counts()

C1     8973
C2     7747
C3     4889
C4     3671
C9     2185
C6     1950
C7     1910
C8     1806
C10    1611
C5     1364
C15    1186
C17    1159
C11    1147
C16    1135
C13    1005
C20     926
C19     899
C12     868
C18     797
C14     746
C21     679
C23     587
C24     553
C22     516
C26     499
C29     387
C25     366
C27     295
C33     286
C28     285
C32     160
C34     130
C30      58
C35      56
C36      36
C31      15
Name: City_Code, dtype: int64

In [33]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
train_df["City_Code"]=encoder.fit_transform(train_df['City_Code'])

In [34]:
train_df.head()

,City_Code,Region_Code,Upper_Age,Lower_Age,Reco_Policy_Cat,Reco_Policy_Premium,Response,Holding_Policy_Type_median,Holding_Policy_Duration_median,Rented,...,Yes,X1,X2,X3,X4,X5,X6,X7,X8,X9
0,22,3213,36,36,22,11628.0,0,3.0,14.0,1,...,0,1,0,0,0,0,0,0,0,0
1,31,1117,75,22,22,30510.0,0,3.0,5.0,0,...,0,0,1,0,0,0,0,0,0,0
2,31,3732,32,32,19,7450.0,1,1.0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
3,16,4378,52,48,19,17780.0,0,3.0,14.0,0,...,0,1,0,0,0,0,0,0,0,0
4,34,2190,44,44,16,10404.0,0,1.0,3.0,1,...,0,0,1,0,0,0,0,0,0,0

In [35]:
train_df.shape

(50882, 21)

In [36]:
main_df = train_df.copy()

In [37]:
test_df = pd.read_csv("formulated_test.csv")

In [38]:
test_df.shape

(21805, 20)

In [39]:
test_df.head()

,City_Code,Region_Code,Upper_Age,Lower_Age,Reco_Policy_Cat,Reco_Policy_Premium,Holding_Policy_Type_median,Holding_Policy_Duration_median,Rented,Joint,Yes,X1,X2,X3,X4,X5,X6,X7,X8,X9
0,0,156,30,30,5,11934.0,3.0,6.0,0,0,0,0,0,0,0,0,0,0,0,0
1,30,7,69,68,18,32204.8,3.0,3.0,0,1,1,1,0,0,0,0,0,0,0,0
2,0,564,28,28,17,9240.0,4.0,2.0,1,0,0,0,0,1,0,0,0,0,0,0
3,22,1177,23,23,18,9086.0,3.0,3.0,1,0,0,0,0,1,0,0,0,0,0,0
4,0,951,75,75,5,22534.0,3.0,5.0,0,0,0,0,0,1,0,0,0,0,0,0

In [40]:
final_df = pd.concat([train_df,test_df],axis=0)

In [41]:
final_df.shape

(72687, 21)

In [42]:
final_df.head()

,City_Code,Region_Code,Upper_Age,Lower_Age,Reco_Policy_Cat,Reco_Policy_Premium,Response,Holding_Policy_Type_median,Holding_Policy_Duration_median,Rented,...,Yes,X1,X2,X3,X4,X5,X6,X7,X8,X9
0,22,3213,36,36,22,11628.0,0.0,3.0,14.0,1,...,0,1,0,0,0,0,0,0,0,0
1,31,1117,75,22,22,30510.0,0.0,3.0,5.0,0,...,0,0,1,0,0,0,0,0,0,0
2,31,3732,32,32,19,7450.0,1.0,1.0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
3,16,4378,52,48,19,17780.0,0.0,3.0,14.0,0,...,0,1,0,0,0,0,0,0,0,0
4,34,2190,44,44,16,10404.0,0.0,1.0,3.0,1,...,0,0,1,0,0,0,0,0,0,0

In [43]:
df_train=final_df.iloc[:50882,:]
df_test=final_df.iloc[50882:,:]

In [44]:
df_test.drop(['Response'],axis=1,inplace=True)

C:\Users\Darshan\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [45]:
df_train.shape

(50882, 21)

In [46]:
df_test.shape

(21805, 20)

In [47]:
X_train=df_train.drop(['Response'],axis=1)
y_train=df_train['Response']

In [49]:
# Build Model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train,y_train)

C:\Users\Darshan\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [50]:
import pickle
filename='finallised_model.pkl'
pickle.dump(classifier,open(filename,'wb'))

In [51]:
y_pred=classifier.predict(df_test)

In [52]:
y_pred

array([0., 0., 0., ..., 0., 0., 0.])

In [57]:
pred=pd.DataFrame(y_pred)
sub_df=pd.read_csv('sample_submission.csv')
datasets=pd.concat([sub_df['ID'],pred],axis=1)
datasets.columns=['ID','Response']
datasets.to_csv('sample_submission1.csv',index=False)